$primary-color: #000;
@import 'loaders.css/src/animations/cube-transition.scss';

.loader-hidden {
  display: none;
}
.loader-active {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#blackout {
    width:100%;
    height:100%; 
    position: absolute;
    left:0; 
    top:0;
    background: #BCBCBC;
    opacity: 0.7;
    z-index:10}

.deepbetbot-card {
    display: inline-block;    
}